h1,p{
    text-align:center;
    padding:10px;
    }
    html,body{
    background-color:rgba(27, 27, 50, 0.8);
    }
    body{
      color:#f5f6f7;
    }
    label {
        display: block;
        margin: 0.5rem 0;
      }
    fieldset{
      border:none;
      padding: 1rem 1;
    }
    form {
      background-color:#1b1b32;
      width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
      padding: 2em;
    }
    input,
      textarea,
      select {
        margin: 10px 0 0 0;
        width: 100%;
        min-height: 2em;
      }
    input[type="radio"],[type="checkbox"]{
      width: unset;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
      
    }
    label[for="dropdown"]{
      padding:1rem 0;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      
      
    }